* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}




.sidebarNavCompensate {
  margin-left: 0;
  flex-grow: unset;
}

@media screen and (min-width: 900px) {
  .sidebarNavCompensate {
    margin-left: 64px;
    flex-grow: 1;
  }
}

@media screen and (min-width: 1300px) {
  .sidebarNavCompensate {
    margin-left: unset;
    flex-grow: unset;
  }
}
